[user]
  name = Alex Selesse
  email = alex@selesse.com
[alias]
  alias = config --get-regexp 'alias.*'
  deletes = diff --diff-filter=D --name-only -z
  st = status -sb # short, branch
  co = checkout
  # log-related
  log1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  log2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
  l = "!. ~/.githelpers && pretty_git_log"
  aa = add --all
  ds = diff --staged
  ci = commit -v
[core]
  editor = vim
[color]
  ui = true
[merge]
  tool = kdiff3
