[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "tabular"]
	path = .vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
  ignore = dirty
[submodule "vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "textile.vim"]
	path = .vim/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
  ignore = dirty
[submodule "vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-git"]
	path = .vim/bundle/vim-git
	url = git://github.com/tpope/vim-git.git
  ignore = dirty
[submodule "vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "numbers.vim"]
	path = .vim/bundle/numbers.vim
	url = git://github.com/myusuf3/numbers.vim.git
[submodule "javacomplete"]
	path = .vim/bundle/javacomplete
	url = git://github.com/vim-scripts/javacomplete.git
  ignore = dirty
