[user]
    name = Alex Selesse
    email = alex@selesse.com
[alias]
    aa = add --all
    adu = add -u
    alias = config --get-regexp 'alias.*'
    ci = commit -v
    co = checkout
    deletes = diff --diff-filter=D --name-only -z
    word-diff = diff --color-words --word-diff-regex=[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+
    word-log = log -p --color-words --word-diff-regex=[^[:space:]]|([[:alnum:]]|UTF_8_GUARD)+
    ds = diff --staged
    h = !git head
    head = !git l -1
    hp =  "!. ~/.githelpers && show_git_head"
    incoming = log ..origin/master --oneline
    l = "!. ~/.githelpers && pretty_git_log"
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    log1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    log2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    oldest-ancestor = !zsh -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
    outgoing = log origin/master.. --oneline
    release-notes = !git log --oneline --no-merges `git describe --abbrev=0 --tags`..HEAD | cut -c 9- | sort
    serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
    st = status -sb # short, branch
    sta = status
    stu = status --untracked=no
    unstage = reset HEAD
[core]
    editor = $EDITOR
    excludesfile = ~/.gitignore_global
[color]
    ui = true
[merge]
    tool = kdiff3
[help]
    autocorrect = 1
[push]
    default = simple
